*{
    background-color: white;
}

.main{
    text-align: center;
    color: #424874;
}

img{
    width: 300;
    height: 300;
}

h2{
    color: #A6B1E1;
    text-align: center;
}

.summary > p{
    text-align: center;
}

.sub-heading{
    color: #A6B1E1;
    text-align: center;
    font-size: 2.5rem;
}

.sub-page li{
    font-size: 1.5rem;
    font-weight: bold;
}

.sub-page div{
    text-align: center;
}

.links{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.link-button{
    background-color: #F4EEFF;
    border-radius: 50%;
    height: 35px;
    width: 100px
}

.link-button a{
    color: black;
    background-color: #F4EEFF;
}
