*{
    background-color: #EEEEEE;
}

h1{
    color: #1f57ac;
    text-align: center;
}

img{
    width: 300;
    height: 300;
}

h2{
    color: #00ADB5;
    text-align: center;
}

.sub-page{
    color: #00ADB5;
    text-align: center;
}
