.main-body{
    background-color: #EEEEEE;
}

.main-heading{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    font-family: 'Libre Baskerville', serif;
    position: relative;
}

h1{
    color: #1f57ac;
    text-align: center;
}

.main-heading > img {
    width: 300;
    height: 300;
    position: absolute;
}

@media (max-width: 480px) {
    .main-heading > img{
        width: 300;
        height: 300;
        position: absolute;
    }
    
}


.main-summary > p{
    text-align: center;
}

h2{
    color: #00ADB5;
    text-align: center;
}

.sub-page{
    color: #00ADB5;
    text-align: center;
}

.motivation-poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: white;
}

.motivation{
    background-color: black;
}

#motivation-picture{
    border: 5px solid white;
    width: 100%;
}

#motivation-header{
    text-transform: uppercase;
    font-size: 2em;
}
